---
title: ""
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% include head-bs.html %}
<body>

<!-- page start ============================================================= -->
	<div class="container-fluid">
<!-- header =============================================================== -->
	<div class="row row-eq-height bg-primary align-items-center justify-content-center ">
	  <div class="col-1-sm">
		<!--span class="bg-primary border rounded">[LOGO]</span-->
		<a class="" href="{{ site.baseurl }}/index.html">
			<img src="{{ site.baseurl }}/images/scott-logo.png" class="m-2" alt="Scott Logo" height="64" width="64"/>
		</a>
	 </div>

	 <div class="col-lg display-1 text-white text-center text-lg-left ml-0 pl-0 mr-0 pr-0">D. Scott Williamson</div>
	  <div class="col-lg h2 text-secondary text-center text-lg-right">Compulsively Creative</div>
	</div>
</div>

<!-- navbar =============================================================== -->
	<div class="navgradient my-0 py-0">
		<nav class="navbar navbar-expand-md navbar-dark my-0 py-0">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Professional</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Projects
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">All</a>
							<a class="dropdown-item" href="#">2018</a>
							<a class="dropdown-item" href="#">2017</a>
							<a class="dropdown-item" href="#">2016</a>
							<a class="dropdown-item" href="#">2015</a>
							<a class="dropdown-item" href="#">2014</a>
							<a class="dropdown-item" href="#">2013</a>
							<a class="dropdown-item" href="#">2012</a>
						</div>
					</li>
				</ul>
				<form class="form-inline my-0 my-lg-0 navgradient">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-secondary my-0 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</div>


<!-- content =============================================================== -->
<div class="container-fluid">
		<div class="row">
		<div class="col-1 border"></div>
		<div class="col border">
			content<br>
			content<br>
			content<br>
			content<br>
		</div>
		<div class="col-1 border"></div>
	</div>

<!-- footer =============================================================== -->
	<div class="row navgradient">
		<div class="col-md justify-content-start">
				<a class="text-secondary text-center text-md-left " href="mailto:DScottWilliamson@comcast.net?subject=webmaster%20D.%20Scott%20Williamson%20:%20Compulsively%20Creative">Contact: webmaster</a>
		</div>
		<div class="col-md justify-content-center text-left text-md-center">
			<a class="text-secondary " href="{{ site.baseurl }}/legal.html">Legal</a>
		</div>
		<div class="col-md justify-content-end text-left text-md-right text-white">
				Ⓒ 2018 D. Scott Williamson
		</div>
	</div>

	</div>
<!-- page end ============================================================= -->
	

  {% include bootstrap-scripts.html %}
  </body>
</html>