/*
	Document
*/
html 
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body 
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/*
	Header
*/
.header
{
	width: 100%;
	height: 48px;
	margin: 0 px;
	padding: 0 px;
	border: 0 px;
	background: #21102C;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

.headerLeft
{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	color:	#EEEEEE;
	float: left;
}

.headerCenter
{	
	margin: 0 px;
	padding: 0 px;
	float: left;
}

.headerCenter h1
{
	font-family: 'NTR', 'Open Sans', sans-serif;
	font-size: 24pt;
	font-weight: 300;
	line-height: 48px;
	color: #EEEEEE;
	margin: 0px;
	padding: 0px 10px;
	float: left;
}	
	

.headerRight 
{
	margin: 0px;
	padding: 0px;
}

.headerRight h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	font-weight: 100;
	color: #aaaaaa;
	margin: 10px;
	padding: 4px 0px;
	float: right;
}

/*
	Horizontal navigation bar
*/
.navi
{
	font-family: 'Open Sans', sans-serif;
	font-size: 9pt;
	background: #333; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#444, #212); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#444, #212); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#444, #212); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#444, #212); /* Standard syntax */
	color: white;

}

.navigation 
{
	/*
	position: -webkit-sticky; /* Safari */
	/*
	position: sticky;
	top: 0;
	*/
	padding: 0px;
	margin: 0px;
	border:0px;
	width: 100%;
	display: block;
	float: left;
}


.navigation ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	float: left;
}

.navigation li {
	font-size: 9pt;
	float: left;
}

.navigation a 
{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: white;
    display: block;
	text-align: center;
    padding: 2px 16px;
    
}

.navigation a:hover {
    background-color: #111;
}

/*
	Search bar
*/
.search
{
	height: 15px;
	
    overflow: hidden;
	text-decoration: none;
	margin: 0;
    padding: 2px 16px;
	text-align: right;
    display: block;
}


/*
	Body
*/
.bodyContainer
{
	margin: 0;
}

.bodyLeft
{
	margin: 0;
    padding: 10;
	background-color: #f1f1f1;
	width: 10em;
	height: 100%;
	float: left;
}

.bodyLeft ul {
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
    margin: 0;
    padding: 0;

	/*
    position: fixed;
	height: auto;
    overflow: auto;
	float: left;
	*/
}

.bodyLeft li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.bodyLeft li a.active {
    background-color: #4CAF50;
    color: white;
}

.bodyLeft li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
/*
	Vertical navigation tabs
*/
.navigationTab
{
	font-family: 'Open Sans', sans-serif;
}

.navigationTab a
{
	text-decoration: none;
}


.bodyCenter
{
	font-family: 'Open Sans', sans-serif;
	padding-left: 3em;
	display: block;
	background: white;
	float: left;
	padding: 0 3em 0 3em;
	max-width: 600px;
}

.bodyRight
{
	background-color: #f1f1f1;
	padding: 0px;
	border: 0px;
	margin: 0px;
	width: 40 em;
	height: 100%;
	display: block;
	float: clear right;
}

.breadCrumbLine
{
	font-family: 'Open Sans', sans-serif;
}

/*
	Footer
	color: #ddd;
	background: #21102C;
	font-family: 'Open Sans', sans-serif;
	font-size: 8pt;
	*/
.footer 
{
	width: 100%;
	margin: 0px;
	border: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	display: block;
	float: left;
}

.footerLeft
{
	padding: 2px 16px;
	text-decoration: none;
	color: white;
	margin-left: 3em;
	display: block;
	float:left
}

.footerLeft a{
	text-decoration: none;
	color: white;
}
.footerLeft:hover
{
	background-color: #111;
}

.footerCenter
{
	padding: 2px 16px;
	margin-left: 3em;
	display: block;
	float: left;
	color: white;
}

.footerRight
{
	padding: 2px 16px;
	margin-right: 3em;
	margin-left: 3em;
	display: block;
	float: right;
}

.footerRight a{
	text-decoration: none;
	color: white;
}
.footerRight:hover
{
	background-color: #111;
}

/*
	Misc formatting
*/

.imageLeft
{
    width: 120px;
    margin: 0 0 15px 20px;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
	display: block;
	float: left;
}

.imageCenter
{
    width: 120px;
    margin: auto;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
	display: block;
	float: center;

}
.imageRight
{
	float: right;
    width: 120px;
    margin: 0 0 15px 20px;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}


