    <head>
        <meta name="robot" content="index, follow" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8">

        <title>{{ site.title }} {{ page.title }}</title>
        <meta name="author" content="D. Scott Williamson"/>
        <meta name="description" content="{{ site.description }}"/>
        <meta name="keywords" content="{{ site.keywords }}">

{% include bootstrap-head.html %}

        <!-- css -->
        <!-- bootstrap customizations -->
        <link href="/compulsively-creative/custom-css-bootstrap-magic.css" rel="stylesheet" type="text/css" media="all">

        <!-- DSW this will be replaced by bootstrap -->
        <link href="/compulsively-creative/master-bs.css" rel="stylesheet" type="text/css" media="all">
        
        <!-- icon -->
        <link href="/compulsively-creative/icons/favicon.ico" rel="shortcut icon" type="image/ico"  />

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=NTR" rel="stylesheet"> 

{% include google-analytics.html %}
    </head>