<div id="navbar" class="topNavStyle topNav">
    <ul>
        <li><a href="professional/professional.html">Professional</a></li>
        <li><a href="projects/projects.html">Projects</a></li>
    </ul>
    <div class="search"> 
        <div id="contentsearch">
            <form id="searchForm" name="searchForm" action="http://google.com/search">
                <input name="q" type="text" value="search" maxlength="200" />
                <input name="q" type="hidden" value="site:https://spot1984.github.io/compulsively-creative"/>
                <input name="submit" type="submit" value="Search" />
            </form>
        </div>
    </div>
</div>