<head>
	<link href="../master.css" rel="stylesheet" type="text/css" media="all">

	<link href="https://fonts.googleapis.com/css?family=NTR" rel="stylesheet"> 
</head>
<body>
<div class="header">
	<div class="headerLeft"> 
		<a class="headerLogo" href="http://homepage.html">
			<img src="images/scott-logo.png" alt="Scott Logo" height="48" width="48"/>
		</a>
	</div>
	<div class="headerCenter">
		<h1>
			D. Scott Williamson
		</h1>
	</div>
	<div class="headerRight">
		<h2>Compulsively Creative</h2>
	</div>
</div>
<div class="navigation">
	<ul>
		<li><a href="professional/index.html">Professional</a></li>
		<li><a href="projects/index.html">Projects</a></li>
	</ul>
	<div class="search">
		Search goes here
	</div>
</div>
<div class="bodyContainer">
	<div class="bodyLeft">
		<ul>
			<li><a class="navigationList" href="projects/index.html"> Nav1 </a></li>
			<li><a class="navigationList" href="projects/index.html"> Nav2 </a></li>
			<li><a class="navigationList" href="projects/index.html"> Nav3 </a></li>
			<li><a class="navigationList" href="projects/index.html"> Nav4 </a></li>
		</ul>	
	</div>
	<div class="bodyCenter">
		<div class="breadCrumbLine">
			<a href="#" onClick="history.go(-1);return true;">Back</a> &nbsp&nbsp : &nbsp
			<a class="breadCrumb" href="projects/index.html"> Home </a> >>
			<a class="breadCrumb" href="projects/index.html"> Grandparent </a> >>
			<a class="breadCrumb" href="projects/index.html"> Parent </a> >>
			This Page<br>
		</div>
		<div class="bodyContent">
			<h1>Page Title</h1>
			<h2>Page subtitle, and date dd Month yyyy</h2>
			<p>
				Content...<br>
				<br>
					<strong>To Do</strong><br>
					<em>Outstanding website items</em><br>
					<ul>
						<li>search bar</li>
						<li>navigation column style and function</li>
						<li>Body breadcrumbs style and function</li>
						<li>footer contents</li>
						<li>footer left, cener, right</li>
						
						<li>404 page</li>
						<ul>
							<li>text</li>
							<li>image</li>
							<li>random image and text by javascript</li>
						</ul>
						<li>legal page</li>
						<ul>
							<li>copyright and terms of use</li>
							<li>license for font</li>
							<li>contact information</li>
						</ul>
						<li>footer email link</li>

						<li>footer or header social media links?
							<ul>
								<li>YouTube</li>
								<li>Instagram</li>
								<li>G+</li>
								<li>facebook?</li>
								<li>Twitter?</li>
							</ul>
						</li>
						<li></li>					
					</ul>


					<em>Done</em>
					<ul>
						<li>D. Scott Williamson font and color</li>
						<li>Compulsively creative right</li>
						<li>navigation tabs</li>
						<li>header background black purple</li>
						<li>logo left</li>
						<li>(skip)sticky navigation row</li>
					</ul>

				</p>
			<p> 
				<div class="imageRight"> 
					<a href="http://homepage.html">
						<img src="images/scott-logo.png" alt="Scott Logo" height="48" width="48"/>
					</a>
					<br>This image is floated right.
				</div>
							
				text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
				text text text text text <br>
				text text text text text <br>
				text text text text text <br>
				text text text text text <br>
				text text text text text <br>
			</p>		
			<p> 
				<div class="imageLeft"> 
					<a href="http://homepage.html">
						<img src="images/scott-logo.png" alt="Scott Logo" height="48" width="48"/>
					</a>
					<br>This image is floated left.
				</div>
				text text text text text <br>
				text text text text text <br>
				text text text text text <br>
				text text text text text <br>
				text text text text text <br>
			</p>		
			<p> 
				<div class="imageCenter"> 
					<a href="http://homepage.html">
						<img src="images/scott-logo.png" alt="Scott Logo" height="48" width="48"/>
					</a>
					<br>This image is floated right.
				</div>
					text text text text text <br>
					text text text text text <br>
					text text text text text <br>
					text text text text text <br>
					text text text text text <br>
			</p>		
		</div>
	</div>
	<div class="bodyRight">
			<p>Nothing is needed in the right column</p>
	</div>			
</div>
<div class="footer">
	<div class="footerLeft"> 
		Contact: webmaster@bla.bla
	</div>
	<div class="footerCenter"> 
		&#9400; 2017 D. Scott Williamson
	</div>
	<div class="footerRight">
		Legal
	</div>
</div>
</body>